.App {
  font-family: sans-serif;
  text-align: center;
}

.calc-body {
  margin: 0 auto;
  width: 200px;
  background-color: black;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.display {
  width: 100%;
  border: 1px solid black;
  text-align: right;
  min-height: 40px;
  padding: 5px;
  border-radius: 5px;
  font-weight: 600;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.display > span {
  display: block;
  overflow: auto;
  color: white;
  font-size: 2.5em;
  font-weight: 200;
}
.calc-button {
  display: inline-block;
  color: white;
  width: 40px;
  height: 40px;
  margin: 4px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 5px 0px #000000;
  user-select: none;
  font-weight: 600;
}
.calc-button:hover {
  box-shadow: 0px 0px 5px 1px #000000;
}
.calc-button:active {
  box-shadow: 0px 0px 5px 1px #fafafa;
}
.bgGrey {
  background-color: rgba(255, 255, 255, 0.3);
}
.bgOrange {
  background-color: orange;
}
.bgLight {
  background-color: rgba(255, 255, 255, 0.7);
}
.row {
  display: flex;
}
.memory {
  font-size: 0.9em;
  text-align: left;
  border-bottom: 1px solid black;
  /* height: 20px; */
}
.memory > b {
  color: rgb(0, 255, 170);
}
